asgiref==3.12.1
cloudinary>=1.40.0
Django==6.0.7
django-cloudinary-storage>=0.3.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn>=21.2.0
jmespath==1.1.0
mysqlclient==2.2.8
Pillow>=10.2.0
PyJWT==2.13.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
